name: PR CI Build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - name: Setup .Net
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
      - uses: actions/checkout@v5
      - name: Restore
        run: dotnet restore --nologo
      - name: Build
        run: dotnet build --no-restore --nologo --configuration Release
      - name: Test
        run: dotnet test --nologo --no-build --configuration Release
      - name: Pack
        run: dotnet pack --nologo --no-build --configuration Release --output nuget-packages src/GitReader.SourceGenerator/GitReader.SourceGenerator.csproj

  code-style:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - uses: actions/checkout@v5
      - name: Setup .Net 10.0.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Retore
        run: dotnet restore --nologo
      - name: .Net Format
        run: dotnet format --no-restore --verify-no-changes -v diag
